.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.justify-between {
  justify-content: space-between;
}
/* Text */
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
  text-justify: inter-word;
}
/* Visibility */
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.cursor-pointer {
  cursor: pointer;
}

blockquote {  // Doesn't have a back color by default, can be added manually.
  background-color: var(--bg-accent);
  color: var(--font-colour);
  display: block;
  position: relative;
  font-style: italic;
  padding: 1.5rem 3.5rem;
  border: 0.1rem solid var(--border-colour);;
  border-left: 0.5rem solid $primary-brand;
  &:before {
    position: absolute;
    top: 0.5rem;
    left: 0;
    font-size: 5rem;
    font-weight: 700;
    content: "\201c";
    color: $primary-brand;
  }
  &[cite]:after{
    font-style: normal;
    font-weight: 700;
    content: "\a—  " attr(cite);
    white-space: pre;
  }
}

code {
  padding: 1.5rem 3.5rem;
  background-color: var(--bg-accent);
  border: 0.1rem solid var(--border-colour);
  border-left: 0.5rem solid $tertiary-brand;
}

b, strong {
  font-weight: 600;
}
