.card {
  border: .1rem solid var(--border-colour);
  background-color: var(--bg-accent);
  margin: 0 auto 3rem auto;
  padding: 1rem;
}

.card-help {
  ul {
    column-count: 1;
    column-gap: 2rem;
    column-rule: 0.1rem solid var(--border-colour);
    li {
      list-style-type: none;
    }
  }
}

.footer-wrapper {
  margin-top: 6rem;
  background-color: $dark-bg;
  color: $white;
  font-size: 1.5rem;
  font-weight: 400;
  a {
    color: rgb(231, 231, 231);
  }
}
.footer-legal {
  padding: 1rem 0;
  font-size: 1.2rem;
}
.footer {
  padding: 1rem 0;
  background-color: $darkest-bg;
  a {
    margin-left: 1.5rem;
    text-decoration: none;
    &:hover {
      color: $primary-brand;
    }
  }
}

/* Larger than mobile screen - 640px */
@media (min-width: 40.0rem) {
  .col {
    flex: 1;
  }
}

/* Larger than tablet screen - 1280px */
@media (min-width: 80.0rem) {
  .card-help {
    ul {
      column-count: 3;
    }
  }
}

/* Larger than desktop screen - 1920px */
@media (min-width: 120.0rem) {

}