/* Scss variables */
$primary-brand: #00C5DE;
$secondary-brand: rgba(54, 62, 64, .95);
$tertiary-brand: rgb(241,196,15);

/* Global colours */
$dark-bg: #1f1f33;
$darkest-bg: darken(#161625, 5%);
$focus-colour: #B8FF0D;
$orange: #FF7D19;
$purple: #BF19FF;
$pink: #CC1472;
$white: #fff;

@import 'fonts';

/* Global variables */
:root {
  --bg-colour: #161625;
  --bg-accent: #1f1f33;
  --font-colour: #e1e1ff;
  --border-colour: #2c2c4a;
  --font-stack: 'Fira Code', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu,Helvetica Neue, Helvetica, sans-serif;
}

[data-theme="dark"] {
  --bg-colour: #161625;
  --bg-accent: #1f1f33;
  --font-colour: #e1e1ff;
  --border-colour: #2c2c4a;
}

[data-theme="light"] {
  --bg-colour: #e4e4e4;
  --bg-accent: rgb(250, 250, 250);
  --font-colour: rgb(66,66,66);
  --border-colour: rgb(242,242,242);
}


/* The base font-size is set at 62.5% for having the convenience
 of sizing rems in a way that is similar to using px: 1.6rem = 16px */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-stack);
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 1.6;
  background-color: var(--bg-colour);
  color: var(--font-colour);
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
}

#content-wrapper {
  flex: 1 0 auto;
}
#footer-wrapper {
  flex-shrink: 0;
}

::selection {
  background: $pink;
  color: #fff;
}

a, a:link, a:visited {
  color: $primary-brand;
  font-weight: 600;
}
a:focus {
  border-color: $focus-colour;
  outline: 0.5rem solid rgba($focus-colour, 0.75);
  position: relative;
}

hr {
  border: 0;
  line-height: 1.25em;
  margin: 0.5rem 0.5rem 3rem 0.5rem;
  height: 1rem;
  background: linear-gradient(to right, transparent, $primary-brand 20%, rgba(14, 143, 160, 0.616) 80%, transparent);
}

/* Print */
@media print{
  a:after{content:" (" attr(href) ") ";font-size:0.8em;font-weight:normal;}
}

@import 'nav';
@import 'table';
@import 'helpers';
@import 'layout';
@import 'grid';
