/* Old site styles, left in just in case.
   Shouldn't break anything! */
@media (max-width: 570px) {
    .oneThird {
        width: 100%;
        border-left: none;
    }

    .quarter {
        width: 100%;
        border-left: none;
    }

    .headerTitle {
        text-align: right;
    }

    .headerSubTitle {
        text-align: right;
    }

    .headerLinks {
        position: static;
    }
}

/* If you for some reason need to override the default sizing model,
   for instance, if you're using a Google Maps widget, you may need
   to use the following code, see:
   http://v4-alpha.getbootstrap.com/getting-started/introduction/#box-sizing */
/*
.selector-for-some-widget {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
*/

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height plus padding against main content*/
  margin-bottom: 92px;
  background: rgb(54, 62, 64) url('/static/website/images/bg-shadowlack.jpg') 50% 0 no-repeat;
  background-size: cover;
  font-family: 'PT Sans Caption', sans-serif;
}

.footer-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.footer-legal {
  color: rgb(197,197,197);
  background-color:rgb(54,62,64);
}

.footer {
  color: rgb(197, 197, 197);
  background-color: rgb(44, 52, 54);
}

.navbar-brand-logo {
    height: 64px;
    width: 64px;
}

/* Default Colors */

.navbar {
  background-color: transparent;
}

.media-body {
  font-weight: bold;
  font-family: 'Roboto Slab',serif;
  font-size: 30px;
  color:#FFF;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #111;
}

.media-body small {
  font-size: 12px;
}

.card {
  border-top: 2px solid #00C5DE;
  color: rgb(98, 98, 98);
  background: #fafafa;
}
.card .card-header {
  font-weight: bold;
  color: rgb(66, 66, 66);
  text-transform: uppercase;
  font-size: 16px;
  border-bottom: 1px solid rgb(231, 231, 231);
  background: #FFF;
}
