@import 'fonts';
@import 'xtermpalette';

/* ---

  Style sheet for Evennia's web client.

  This should possibly somehow be incoorporated with the
  overall website theme in the future?

--- */

/* Overall element look */
html, body {
    height: 100%;
    width: 100%;
}
body {
    background: #000;
    color: #ccc;
    font-size: .9em;
    font-family: 'Fira Code', monospace, monospace;
    line-height: 1.4em;
}

@media screen and (max-width: 480px) {
  body {
    font-size: .5rem;
    line-height: .7rem;
  }
}


a:link, a:visited { color: inherit; }
a:hover, a:active { color: inherit;
                    font-weight: bold;}

/* Set this to e.g. bolder if wanting to have ansi-highlights bolden
 * stand-alone text.*/
strong {font-weight: bold;}

.hidden { display: none; }

/* Utility messages (green) */
.sys { color: #0f0 }

/* Messages echoed back after input */
.inp { color: #555 }

/* Messages returned from the server (most messages) */
.out {
  color: #aaa;
  background-color: #000;
}

/* Error messages (red) */
.err { color: #f00; }

/* Prompt base (white) */
.prompt {color: #fff }

.underline { text-decoration: underline; }

/* Inverse - this will make a dotted outline. is there a more
 * ANSI-similar way? */
.inverse {
    outline-style: dotted;
    outline-color: invert;
}

/* Style specific classes corresponding to formatted, narative text. */
.wrapper {
  height: 100%;
}

// Options
.card {
  padding: 1rem;
  margin-bottom: .5rem;
  div {
    label {
      display: block;
      padding: 0 1rem;
    }
  }
}

/* Container surrounding entire client */
#clientwrapper {
  height: 100%;
}

/* Main scrolling message area */

#messagewindow {
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

#messagewindow {
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

/* Input field */
#input {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}


#inputfield, #inputsizer {
    height: 100%;
    background: #111;
    color: #fff;
    resize: none;
}
#inputsend {
  height: 100%;
}
#inputcontrol {
  height: 100%;
}

#inputfield:focus {
}

/* prompt area above input field */
.prompt {
  max-height: 3rem;
}

#splitbutton {
    width: 2rem;
    font-size: 2rem;
    color: #a6a6a6;
    background-color: transparent;
    border: 0px;
}

#splitbutton:hover {
    color: white;
    cursor: pointer;
}

#panebutton {
    width: 2rem;
    font-size: 2rem;
    color: #a6a6a6;
    background-color: transparent;
    border: 0px;
}

#panebutton:hover {
    color: white;
    cursor: pointer;
}

#undobutton {
    width: 2rem;
    font-size: 2rem;
    color: #a6a6a6;
    background-color: transparent;
    border: 0px;
}

#undobutton:hover {
    color: white;
    cursor: pointer;
}

.button {
    width: fit-content;
    padding: 1em;
    color: black;
    border: 1px solid black;
    background-color: darkgray;
    margin: 0 auto;
}

.splitbutton:hover {
    cursor: pointer;
}

#optionsbutton {
    //width: 2rem;
    //font-size: 2rem;
    color: green;
    background-color: transparent;
    border: 0;
}

#optionsbutton:hover {
    color: white;
    cursor: pointer;
}

#toolbar {
    position: fixed;
    top: .5rem;
    right: .5rem;
    z-index: 1;
}

/* No javascript warning */
#connecting {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  padding: .5em .9em;
}

/* Dialog window */
.dialog {
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    position: absolute;
    z-index: 10;
    background-color: #fefefe;
    border: 1px solid #888;
    color: lightgray;
    background-color: #2c2c2c;

}

#optionsdialog {
    /*width: 50%;*/
}

#helpdialog {
    width: 725px;
    height: 65%;
}

#helpdialog .dialogcontent {
    background-color: #1e1e1e;
    color: #ccc;
}

.dialogcontentparent {
    height: calc(100% - 44px - 40px);
}

.dialogcontent {
    overflow: auto;
    height: 100%;
    padding: 20px;
}

.dialogtitle {
    border-bottom: 1px solid #888;
    padding: 10px 20px;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: move;
    font-weight: bold;
    font-size: 16px;
    color: white;
    background-color: #595959;
}

.dialogclose {
    color: #d5d5d5;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.dialogclose:hover, .dialogclose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.content {
  /*
    border: 1px solid #C0C0C0;
    box-shadow: inset 0 1px 2px #e4e4e4;
    background-color: black;*/
    padding: 0 1rem;
}
@media screen and (max-width: 480px) {
  .content {
    padding: .5rem;
  }
}

/* MXP links */
#mxplink {
  text-decoration: underline;
}

/* Create blinking text */
.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

/* golden layout theme */
@import 'goldenlayout';
