{% load compress %}<!DOCTYPE html>{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{game_name}} Web Client</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'website/images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static "website/css/normalize.css" %}">
    {% compress css %}
    <link type="text/x-scss" href="{% static "website/css/webclient.scss" %}" rel="stylesheet">
    {% endcompress %}
    <script src="{% static "webclient/js/jquery-3.5.1.min.js" %}"></script>
    <!-- Set up Websocket url and load the evennia.js library-->
    <script>
      {% if websocket_enabled %}
          var wsactive = true;
      {% else %}
          var wsactive = false;
      {% endif %}
      {% if browser_sessid %}
          var csessid = "{{browser_sessid}}";
      {% else %}
          var csessid = false;
      {% endif %}
      {% if websocket_url %}
          var wsurl = "{{websocket_url}}";
      {% else %}
          var wsurl = "ws://" + this.location.hostname + ":{{websocket_port}}";
      {% endif %}
    </script>
    <script src={% static "webclient/js/evennia.js" %}></script>

    <script src="https://golden-layout.com/files/latest/js/goldenlayout.min.js"></script>

    <!-- Load gui library -->
    {% block guilib_import %}
      <script src="{% static "webclient/js/webclient_gui.js" %}"></script>
      <script src="{% static "webclient/js/plugins/goldenlayout_default_config.js" %}"></script>
      <script src="{% static "webclient/js/plugins/clienthelp.js" %}"></script>
      <script src="{% static "webclient/js/plugins/popups.js" %}"></script>

      <script src="{% static "webclient/js/plugins/shadowlack_panes.js" %}"></script>
      <script src="{% static "webclient/js/plugins/options2.js" %}"></script>
      <script src="{% static "webclient/js/plugins/message_routing.js" %}"></script>
      <script src="{% static "webclient/js/plugins/history.js" %}"></script>
      <script src="{% static "webclient/js/plugins/oob.js" %}"></script>
      <script src="{% static "webclient/js/plugins/notifications.js" %}"></script>

      <script src="{% static "webclient/js/plugins/goldenlayout.js" %}"></script>

      <script src="{% static "webclient/js/plugins/default_in.js" %}"></script>
      <script src="{% static "webclient/js/plugins/default_out.js" %}"></script>
      <script src="{% static "webclient/js/plugins/multimedia.js" %}"></script>
    {% endblock %}

    <script src="{% static "webclient/js/favico.js" %}"></script>

    {% block scripts %}
    {% endblock %}
  </head>
<body>
  <aside id="connecting">{% block connecting %}{% endblock %}</aside>
  <noscript id="noscript" class="err">
    <p>Error: {{game_name}} Web Client requires that you enable JavaScript.</p>
  </noscript>
  <script>
    $(document).ready(function() {
      $('#noscript').remove();
      $('#clientwrapper').removeClass('d-none');
    });
  </script>
  <!-- main client -->
  <main id=clientwrapper class="d-none">
    {% block client %}
    {% endblock %}
  </main>
</body>
</html>
