{% extends "website/base.html" %}

{% block header_ext %}{% endblock %}

{% block content %}
<div class="row">
  <div class="cols-xs-12 col-md-4">
    <nav aria-label="About Pages">
      <h3>About</h3>
      <ul>
        <li><a href="/about/">About Shadowlack</a></li>
        <li><a href="/rules/">Rules and Regulations</a></li>
        <li><a href="/accessibility/">Accessibility</a></li>
        <li><a href="/parents/">Parents and Guardians</a></li>
        <li><a href="/anti-harassment-policy/">Anti-Harassment Policy</a></li>
        <li><a href="/licensing/">Licensing</a></li>
        <li><a href="/staff-handbook/">Staff Handbook</a></li>
      </ul>
    </nav>

  </div>
  <div class="cols-xs-12 col-md-8">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">{{flatpage.title}}</h1>
        {{flatpage.content}}
      </div>
    </div>
  </div>
</div>
{% endblock %}
